*.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
.idea

# Yarn zero installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# keys
*.pem